.alignment
{
    position: relative;
    left: 1580px;
}
.background
{
    background-color:#433f6b;
}
.textt
{
    color:#0aeed0
}
.adjust
{
    position: relative;
    bottom: -30px;
}
.search
{
 
    position: relative;
    left: 1276px;
}
.i{
    position: relative;
    right: -1250px;
}