<div class="container-fluid mt-4  background">
    <h2 class="text-white adjust"><b>View Booking Details:</b></h2>
    <p class="col-lg-2">
        <!-- <input type="text" placeholder="search" class="form-control alignment" [(ngModel)]="term"> -->
<input type="text"class="form-control search"[(ngModel)]="term"placeholder="Search">
    </p>
    <table class="table  table-bordered colour background">
        <thead class="bg-secondary text-white">
            <tr class="colour">

                <th (click)="sort('id')">Id &nbsp;<i class="fa fa-sort" aria-hidden="true"></i></th>
                <th>
                    <a [href]="" (click)="sort('firstName')">
                        First Name &nbsp;<i class="fa fa-sort" aria-hidden="true"></i></a></th>
                <th>
                    <a [href]="" (click)="sort('lastName')">
                        Last Name &nbsp;<i class="fa fa-sort" aria-hidden="true"></i></a></th>
                <th>
                    <a [href]="" (click)="sort('email')">
                        Email &nbsp;<i class="fa fa-sort" aria-hidden="true"></i></a></th>

                <th>
                    <a [href]="" (click)="sort('mobileNumber')">
                        Mobile Number &nbsp;<i class="fa fa-sort" aria-hidden="true"></i></a></th>
                <th>
                    <a [href]="" (click)="sort('daily')">
                        Choose A Room &nbsp;<i class="fa fa-sort" aria-hidden="true"></i></a></th>
                <th>
                    <a [href]="" (click)="sort('time')">
                        Organization Day &nbsp;<i class="fa fa-sort" aria-hidden="true"></i></a></th>
                        <th>
                                <a [href]="" (click)="sort('date')">
                                    Time Zone &nbsp;<i class="fa fa-sort" aria-hidden="true"></i></a></th>

                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody class="text-white">
            <tr *ngFor="let employee of employees | orderBy:key:reverse |filter:term | paginate: { itemsPerPage: 5, currentPage: p }">

                <td>{{employee.id}}</td>
                <td>{{employee.firstName}}</td>
                <td>{{employee.lastName}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.mobileNumber}}</td>
                <td>{{employee.daily}}</td>
                <td>{{employee.time}}</td>
                <td>{{employee.date}}</td>
                <td>
                    <button type="submit" class="btn btn-warning">
                        <span routerLink="/conform/first/{{employee.id}}/">Edit</span></button>

                </td>
                <td>
                    <button type="button" class="btn btn-danger"> <span class="delete"
                            (click)="deleteEmployee(employee.id)">Delete</span></button>
                </td>

            </tr>
        </tbody>
    </table>
   <div class=" i mb-2"> <pagination-controls class="id" (pageChange)="p = $event"></pagination-controls></div>
   <br>
</div>